{# empty Twig template #}
{% extends '::base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/user/css/login.css') }}" />
    {% if error %}
        <div class="error">{{ error.message|trans }}</div>
    {% endif %}
{% endblock %}
{% block body %}
<section class="login">
    <article>

        {% if error %}
            <div class="error">{{ error.message }}</div>
        {% endif %}

        <form action="{{ path('login_check') }}" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />

            <label for="password">Password:</label>
            <input type="password" id="password" name="_password" />

            <hr/>
            <button type="submit" class="btn btn-primary pull-right">login</button>
        </form>

    </article>
</section>
{% endblock %}
