{% extends '::base.html.twig' %}
{% block title 'Beda testy kosmiczne' %}
{% block body %}
{% for i in 1..count %}
    Hello <strong>{{ name }}</strong> # {{ i }}!<br/>
{% endfor %}
{{ event.username }}<br/>
{{ event.email }}<br/>
{% endblock %}