{% extends 'YodaEventBundle::layout.html.twig' %}

{% block body -%}
    {{ app.session.get('some_session_key') }}
    {{ app.request.host }}
    <section class="events">
        <header id="menu">
            <a class="button" href="{{ path('user_new') }}">Create new event</a>
        </header>
    <h1>User list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Password</th>
                <th>Username</th>
                <th>Alias</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.password }}</td>
                <td>{{ entity.username }}</td>
                <td>{{ entity.alias }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('user_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('user_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a class="button" href="{{ path('user_new') }}">
                Create a new entry
            </a>
{#            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <a class="link" href="{{ path('logout') }}">Logout</a>
            {% else %}
                <a class="link" href="{{ path('login_form') }}">Login</a>
            {% endif %}#}
        </li>
    </ul>
        
{#        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    <a class="link" href="{{ path('logout') }}">Logout</a>
{% else %}
    <a class="link" href="{{ path('login_form') }}">Login</a>
{% endif %}#}
                </section>
    {% endblock %}
